<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <http auto-config="true">
        <intercept-url pattern="/login*" access="permitAll()"/>
        <intercept-url pattern="/javax.faces.resource/**" access="permitAll()"/>

        <intercept-url pattern="/**" access="isAuthenticated()" />


        <!-- access denied page -->
        <access-denied-handler error-page="/403" />
        <form-login
                login-page="/login.xhtml"
                default-target-url="/index.xhtml"
                authentication-failure-url="/login.xhtml?error"
                login-processing-url="/j_spring_security_check"
                username-parameter="input_username"
                password-parameter="input_password" />
        <logout
                logout-success-url="/login.xhtml"
        />
        <!-- enable csrf protection -->
        <csrf />

    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="myUserDetailsService">
            <password-encoder hash="bcrypt"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>
